/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body{
    background-color: white;
}

/* generici */

h1{
    font-size: 42px;
    color: white;
    margin-top: 30px;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

h2{
    margin-top: 30px;
    font-size: 34px;
    padding-left: 140px;
    margin-bottom: 20px;
}

p{
    line-height: 2;
    font-size: 14px;
    padding-left: 140px
}

h4{
    color: rgb(58, 83, 186);
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 200;
}

h3{
    margin-bottom: 30px;
    background-image: url(../img/img/stars.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 24px;
    font-weight: 700;
}

h6{
    color: rgb(58, 83, 186);
    margin-top: 30px;
}

/* Utili */

.log-in{
    font-size: 12px;
}

.fa-down-long{
    color: black;
}

ul a{
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: none;
}

.container{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 225px;
}

.card{
    max-width: 945px;
    display: flex;
}

.left{
    padding-left: 0;
}


/* stile dell'intestazione */

header{
    min-height: 70px;
    background-image: url(../img/img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.header-p{
    color: white;
    padding: 0;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 26px;
}

.upper-header{
    color: rgb(38, 103, 223);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-bar{
    width: 945px;
    height: 50px;
    display: flex;
}

#logo {
    display: block;
    margin-top: 10px;
    
}

.nav-child{
    width: calc(100% / 4);
    height: 50px;
    line-height: 50px;
    text-align: end;
}



.options{
    width: calc(100% / 2);
    height: 100%;
}

li {
    list-style-type: none;
}

.o-list{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}



[class*="btn"]{
    border-radius: 20px;
    padding: 10px 15px; 
    text-decoration: none;
}

.btn{
    background-color: white;
    color: black;
}    



.btn.black{
    padding: 15px 20px;
    border-radius: 25px;
    background-color: black;
    color: white;
    margin-left: 20px;
}



.btn.blue{
    color: white;
    background-color: rgb(58, 83, 186);
    padding: 15px 20px;
    border-radius: 25px;
    text-align: center;
    margin-left: 115px;
}

.fa-down-long.blue{
    color: white;
}

.btn.lightblue{
    padding: 15px 20px;
    border-radius: 25px;
    color: white;
    background-color: rgb(76, 106, 226);
}

.lower-header{
    min-height: 500px;
}    

.intro{
    max-width: 50%;
    min-height: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
}

.text-button{
    width: 600px;
    min-height: 350px;
    background-color: pink;
}

/* stile dei blocchi */

.container.fandom{
    margin-top: 225px;
}

.container.grey{
    background-color: rgba(241, 235, 235, 0.544);
    position: relative;
    margin-bottom: 0;
}

.container.grey::before{
    content: "";
    background-image: url(../img/img/wave.svg);
    display: block;
    width: 100%;
    height: 150px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 100%;
    opacity: 0.04;

}


.container.grey.upside-down::after{
    content: "";
    background-image: url(../img/img/wave.svg);
    display: block;
    width: 100%;
    height: 150px;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    opacity: 0.04;
    rotate: 0.5turn;
}

.picture{
    width: 60%;
}

.text{
    width: 40%;
}
.picture-invitation{
    width: 70%;
}

.text-invitation{
    width: 30%;
}

.picture-channel{
    width: calc(945px - 370px);
}

.text-channel{
    width: 370px;
}


.card-technology{
    min-height: 550px;
    width: 800px;
}

.small-container{
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* stile pie' di pagina */

footer{
    background-color: rgb(27, 26, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.fc{
    margin-top: 5px;
    max-width: 100%;
    border-bottom: 2px solid grey;
}

.slogan{
    border-bottom: 2px solid currentColor;
}

.ita{
    max-width: 100%;
    height: 17px;
    display: inline-block;
}

.language{
    color: white;
}


.fa-chevron-down{
    color: white;
    font-size: 17px;
}

.socials{
    justify-content: flex-start;
    gap: 20px;
    color: white;
}

i{
    color: white;
    font-size: 14px;
}

.app-info{
    width: 70%;
    display: flex;
    gap: 50px;
}

hr{
    display: block;
}

.info{
    width: calc(70% - 25%);
    height: 100%;
    background-color: transparent;
}



.logo-button{
    width: 800px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.button-child{
    height: 40px;
    width: 100px;
    padding-top: 10px
    
}

